*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.kleo{
    background:url(kleo1.png);
    background-size:cover;
    height:100vh;
    width:100%;
    z-index:-3;
}

.masthead-brand{
    position:fixed;
    margin:20px;
    
}

.masthead-brand a{
    color:black;
}

.masthead-brand a:hover{
    color:black;
    opacity:0.5;
    text-decoration:none;
}

.kvideo{
    width:100%;
    height:120px;
    z-index:-3;
}

.kleo2{
    background:url(kleo2.png);
    background-size:cover;
    height:100vh;
    width:100%;
    z-index:-3;
}


.kleo3{
    background:url(alpha.png);
    background-size:cover;
    height:100vh;
    width:100%;
    z-index:-3;
}


.kleo4{
    background:url(kleo4.png);
    background-size:cover;
    height:100vh;
    width:100%;
    z-index:-3;
}

.cursor{
    width:3rem;
    height:3rem;
    border:2px solid #917d7a;
    background-color:#917d7a;
    border-radius:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    pointer-events:none;
    transition:all 0.3s ease;
    transition-property:background, transform;
    transform-origin: 100% 100%;
    z-index:1;
    backdrop-filter:blur(3px);
}   

footer{
    justify-content:center;
    margin:20px;
    margin-top:100px;
    font-family: ivypresto-headline, serif;
    font-size:24px;
    height:500px;
    overflow:hidden;
  
  
}

footer img{
    width:200px;
    margin-left:20px;
    margin-top:20px;
    border-radius:10px;
    overflow:hidden;


}

footer a{
    font-size:60px;
    transition:0.4s ease-in-out;
    font-family: ivypresto-headline, serif;
    color:black;
    overflow:hidden;
}

footer a:hover{
    opacity:0.2;
    text-decoration:none;
}



footer h5{
    font-size:16px;
}