    
body {
    font-family: 'Raleway','Helvetica';  
   
    margin: 0;
    padding: 0;
   
}



.nav-up {
    top: -40px;
}


li {
    list-style: none;
}

a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:black;
    text-decoration:none;
}
 
 
/*------------------------ 2 Home ------------------------*/

.masthead-brand{
    
    flex-wrap: nowrap;
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    margin-top:10px;
    transition: 0.7 ease-in-out;
    padding-right:100px;
}

.masthead-brand a{
    color:black;
    text-decoration:none;
}


.main {
    
    width: 100%;
    position: relative;
    
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

.main:after {
    content: '';
    width: 100%;
    height: 100px;
    left: 0;
    z-index: -1;
    opacity: .85;
    position: absolute;
     
}


.main-title {
    font-size: 40px;
    padding-top:15px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    font-family:'Sybarite';
  
    line-height: 1;
    margin-top:-80px;
}

.hello {
    color: #fff;
    line-height: 51px;
    font-family:'Raleway','Helvetica';
    font-size:24px;
    margin-top:-140px;
    font-weight:300;
    position:absolute;
  
    
}

.main-content {
    padding: 0 60px;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
}

    .logo a{
        color: orange;
        margin-left: 30px;         
        border: 1px solid white;
        background: white;
        font-size: 30px;
    }
  
    .logo a:hover{
        text-decoration: none;
    }

  

/*------------------------ 2.1 Full Menu ------------------------*/

.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    visibility: hidden;   
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    font-family:ivypresto-headline, serif;
    text-decoration:none;
}

/* Full Menu */

.full-menu .modal-close {
    /* 'X' icon */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 50px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.3) url(cd-icon-close.svg)no-repeat center center;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;     
    transform: scale(0);
    visibility: 0s 0.3s, opacity 0.3s 0s;
     
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .full-menu .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.full-menu.visible {
    background-size: 100%;
    opacity: 1;
    visibility: visible;   
    transition: opacity 0.7s, visibility 0s;
}

.full-menu.visible .fullmenu-content {
    -webkit-overflow-scrolling: touch;
}

.full-menu.visible .modal-close {
    visibility: visible;
    opacity: 1;    
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;     
    transform: scale(1);
}

@media only screen and (min-width: 1100px) {
    .full-menu .fullmenu-content {
        padding: 6em 5%;
    }
    .full-menu .modal-close {
        height: 60px;
        width: 60px;
    }
    .full-menu p {
        font-size: 25px;
    }
}

.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);   
    transform: translateY(-50%) translateX(-2%);     
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.cd-transition-layer.opening .bg-layer {     
    animation: cd-sequence 1.0s steps(24);     
    animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {     
    animation: cd-sequence-reverse 1.0s steps(24);    
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
    display: none;
}

 
@keyframes cd-sequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }
    100% {        
        transform: translateY(-50%) translateX(-98%);
    }
}

    
    
  
@keyframes cd-sequence-reverse {
    0% {
         
        transform: translateY(-50%) translateX(-98%);
    }
    100% {
         
        transform: translateY(-50%) translateX(-2%);
    }
}


/*------------------------ 2.2 Header ------------------------*/

.full-menu .fullmenu-content {
    height: 100%;
    width: 100%;
    display: table;
}

.page-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page-menu li {
    line-height: 50px;
    margin-left: -25px;
}

.page-menu li:last-child {
    line-height: 90px;
}

.page-menu li a {
    color: #fff;
    font-size: 40px;
    position: relative;
    font-weight: 500;
    text-decoration:none;
    font-family: ivypresto-headline, serif;
     
}

.social img {
    width: 50px;
}

.main .social {
    margin-top: 15px;
}

.social a {
    margin-right: 20px;
}

.social a:hover img {
    opacity: .6;
    transition: all ease 0.3s;
}

.social a:last-child {
    margin-right: 0px;
}

 
 

header {
    position: fixed;
    padding: 30px;
    top: 0;
    width: 100%;
    z-index: 2;
}


.nav-icon {
    width: 23px;
    height: 18px;
    position: relative;    
    transform: rotate(0deg);     
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: -30px;
   
    
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;    
    transform: rotate(0deg);   
    transition: .25s ease-in-out;
    
}

.nav-icon span:nth-child(1) {
    top: 0px;     
    transform-origin: left center;
   
}

.nav-icon span:nth-child(2) {
    top: 6px;    
    transform-origin: left center;
}

.nav-icon span:nth-child(3) {
    top: 12px;     
    transform-origin: left center;
    width: 60%;
    right: 0 !important;
}

.nav-icon:hover span:nth-child(3) {
    width: 100%;
}





/* CARDS WITH THE PROJECTS*/

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    font-size:14px;
    margin-top:150px;
   
}


ul.filters > li{
    list-style: none;
    display: inline-block;
   
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
   
}

ul.filters > li > a:hover{
    
    color:black;
    font-size:18px;
    margin-top:-10px;
}

ul.filters > li.active > a{
    color:black;
    font-weight:bold;
    text-decoration:underline;
   
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    transition:0.4s ease-in-out;
}

.card:hover{
    box-shadow: 5px 5px 10px lightgray;
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-head a{
    color:white;
}



.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity:0.8;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover p{
    font-size:14px;
}

.card-hover h4{
    font-size:20px;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}

.navhome{
    transition:0.4s ease-in-out;
}
.navhome:hover{
    opacity:0.5;
}

.navwork{
    transition:0.4s ease-in-out;
}
.navwork:hover{
    opacity:0.5;
}

.navabout{
    transition:0.4s ease-in-out;
}
.navabout:hover{
    opacity:0.5;
}

.navresume{
    transition:0.4s ease-in-out;
}
.navresume:hover{
    opacity:0.5;
}

.nav-icon p{
    opacity:0;
}

.nav-icon p:hover{
    opacity:1;
}



.full-menu .fullmenu-content {
    height: 100%;
    width: 100%;
    display: table;
}

.page-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page-menu li {
    line-height: 50px;
    margin-left: -25px;
}

.page-menu li:last-child {
    line-height: 90px;
}

.page-menu li a {
    color: #fff;
    font-size: 60px;
    position: relative;
    font-weight: 500;
    text-decoration:none;
    font-family:ivypresto-headline, serif;
     
}

.social img {
    width: 50px;
}

.main .social {
    margin-top: 15px;
}

.social a {
    margin-right: 20px;
}

.social a:hover img {
    opacity: .6;
    transition: all ease 0.3s;
}

.social a:last-child {
    margin-right: 0px;
}

 
 

header {
    position: fixed;
    padding: 30px;
    top: 0;
    width: 100%;
    z-index: 2;
}


.nav-icon {
    width: 23px;
    height: 18px;
    position: relative;    
    transform: rotate(0deg);     
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: -30px;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    opacity: 1;    
    transform: rotate(0deg);   
    transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0px;     
    transform-origin: left center;
}

.nav-icon span:nth-child(2) {
    top: 6px;    
    transform-origin: left center;
}

.nav-icon span:nth-child(3) {
    top: 12px;     
    transform-origin: left center;
    width: 60%;
    right: 0 !important;
}

.nav-icon:hover span:nth-child(3) {
    width: 100%;
}




/* NEWEST CSS*/



header img{
    width:50px;
    margin:10px;
}


.nav-icon{
    margin:20px;
 }
 .kleo {
 
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin-top:0px;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    width: 90%;
  
    will-change: transform, opacity;
  }
  
  .kleo.is-visible {
    opacity: 1;
  
  }


.nos {
 
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin-top:0px;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    width: 90%;
  
    will-change: transform, opacity;
  }
  
  .nos.is-visible {
    opacity: 1;
  
  }

  .tiffin {
 
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin-top:0px;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    width: 90%;
  
    will-change: transform, opacity;
  }
  
  .tiffin.is-visible {
    opacity: 1;
  
  }
  
  .newintro {
    opacity: 0;
    -webkit-transition: opacity .5s .25s ease-out;
    transition: opacity 1s .25s ease-out;
    margin-top:10px;
  }
  
  .newintro.is-visible {
    opacity: 1;
  }

  .newintro h1 {
    opacity: 0;
    -webkit-transition: opacity .5s .25s ease-out;
    transition: opacity 1s .25s ease-out;
    margin-top:10px;
  }
  
  .newintro h1.is-visible {
    opacity: 1;
  }
  
  .main-photo {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  
  .newintro {
    -webkit-transform: translate(-1%, calc(+30% + 1em));
            transform: translate(-1%, calc(+30% + 1em));
  }
  
  .is-visible .main-photo {
    -webkit-transform: none;
            transform: none;
  }
  
  .is-visible .newintro {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .main-photo, .heading {
    -webkit-transition: -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1), -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  
    will-change: transform;
  }

  .kleo{
    height:700px;
    width:100%;
    background:url(kleolinkhtml.png);
    background-size:cover;
    z-index:-5;
   
}
  
.nos{
    height:700px;
    width:100%;
    background:url(nos.pn);
    background-size:cover;
    z-index:-4;
   
}

.tiffin{
    height:700px;
    width:100%;
    background:url(tiffin.png);
    background-size:cover;
    z-index:-4;

   
}

footer{
    justify-content:center;
    margin:20px;
    font-family: ivypresto-headline, serif;
    font-size:24px;
    height:10px;
  
  
}

button{
   padding-left:45px;
   padding-right:45px;
   color:white;
   background-color:black;
   border:solid 2px black;
   border-radius:15px;
   margin-top:10px;
   font-family:'Lato';
   font-size:20px;
}

footer h5{
    font-size:16px;
}

.newintro h1{
    font-size:60px;
    font-family: ivypresto-headline, serif;
    font-weight: 400;
    font-style: regular;
    letter-spacing:2px;
    line-height:80px;
    color:rgb(0, 0, 0);
    margin-left:300px;
    margin-right:300px;
    margin-top:200px;
    
}



hr{
    background-color:rgb(0, 0, 0);
  
   
}
.nav-links li{
    padding:1rem;
}

.cursor{
    width:3rem;
    height:3rem;
    border:2px solid rgb(74, 95, 165);
    background-color:rgb(74, 95, 165);
    border-radius:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    pointer-events:none;
    transition:all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index:-1;
    backdrop-filter:blur(3px);
}   

.link-grow{
    transform:scale(2);
    background:rgb(74, 95, 165);
}





body{
    cursor:none;
}

.nos{
    position:relative;
    z-index:-3;
}

.tiffin{
    position:relative;
    z-index:-3;
}


.kleo {
    position:relative;
    z-index:-3;
}

h1{
    font-family:'Lato';
}


#logo{
   
    margin-left:300px;
    margin-right:100px;
    animation: fill 0.5s ease forwards 6.3s;


}

#logo path:nth-child(1) {
    stroke-dasharray: 532.34;
    stroke-dashoffset: 532.34;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
    stroke-dasharray: 287.28;
    stroke-dashoffset: 287.28;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
    stroke-dasharray: 437;
    stroke-dashoffset: 437;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
    stroke-dasharray:555.6;
    stroke-dashoffset: 555.6;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
    stroke-dasharray: 452.88;
    stroke-dashoffset: 452.88;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
    stroke-dasharray: 349.7;
    stroke-dashoffset: 349.7;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
    stroke-dasharray: 327.87;
    stroke-dashoffset: 327.87;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
    stroke-dasharray: 653.773;
    stroke-dashoffset: 653.773;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9) {
    stroke-dasharray: 432.19;
    stroke-dashoffset: 432.19;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 390.173;
    stroke-dashoffset: 390.173;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11) {
    stroke-dasharray: 279.54;
    stroke-dashoffset: 279.54;
    animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(12) {
    stroke-dasharray: 722.64;
    stroke-dashoffset: 722.64;
    animation: line-anim 2s ease forwards 3.3s;
}
#logo path:nth-child(13) {
    stroke-dasharray: 468.86;
    stroke-dashoffset: 468.86;
    animation: line-anim 2s ease forwards 3.6s;
}
#logo path:nth-child(14) {
    stroke-dasharray: 432.175;
    stroke-dashoffset: 432.175;
    animation: line-anim 2s ease forwards 3.9s;
}
#logo path:nth-child(15) {
    stroke-dasharray: 287.28;
    stroke-dashoffset: 287.28;
    animation: line-anim 2s ease forwards 4.1s;
}
#logo path:nth-child(16) {
    stroke-dasharray: 147.38;
    stroke-dashoffset: 147.38;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(17) {
    stroke-dasharray: 138.52;
    stroke-dashoffset:138.52;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(18) {
    stroke-dasharray: 147.38;
    stroke-dashoffset: 147.38;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(19) {
    stroke-dasharray: 160.68;
    stroke-dashoffset: 160.68;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(20) {
    stroke-dasharray: 139.537;
    stroke-dashoffset: 139.537;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(21) {
    stroke-dasharray: 139.5;
    stroke-dashoffset: 139.5;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(22) {
    stroke-dasharray: 156.562;
    stroke-dashoffset: 156.562;
    animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(23) {
    stroke-dasharray: 160.68;
    stroke-dashoffset: 160.68;
    animation: line-anim 2s ease forwards 3.3s;
}
#logo path:nth-child(24) {
    stroke-dasharray: 138.52;
    stroke-dashoffset:138.52;
    animation: line-anim 2s ease forwards 3.7s;
}
#logo path:nth-child(25) {
    stroke-dasharray: 173.81;
    stroke-dashoffset: 173.81;
    animation: line-anim 2s ease forwards 4s;
}
#logo path:nth-child(26) {
    stroke-dasharray: 156.56;
    stroke-dashoffset:156.56;
    animation: line-anim 2s ease forwards 4.3s;
}
#logo path:nth-child(27) {
    stroke-dasharray: 91.61;
    stroke-dashoffset:91.61;
    animation: line-anim 2s ease forwards 4.7s;
}
#logo path:nth-child(28) {
    stroke-dasharray: 125.56;
    stroke-dashoffset:125.56;
    animation: line-anim 2s ease forwards 5s;
}

@keyframes line-anim{
    to {
        stroke-dashoffset:0;
    }
}

@keyframes fill {

    from{
        fill:transparent;
    }
    to{
        fill:black;
    }
}