@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
  
}
.container-footer{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
    padding-top:150px;
    padding-bottom:50px;
    
}

.containern{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
    height:100vh;
    padding-top:150px;
    padding-bottom:150px;
   
}

.container-tif{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
    height:100vh;
  
}
.container-kleo{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
    height:100vh;
  
}


header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1{
    position: absolute;
    bottom: -100px;
    width: 900px;
    right: 0;
    z-index: 19;
}
.kleodisp{
    position: absolute;
    bottom: -500px;
    width: 400px;
    right: 500;
    z-index: 20;
    margin-left:100px;
}


.person{
    position: absolute;
    width: 300px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}
.kleotext{
    position: absolute;
    width: 500px;
    bottom: -100px;
    left: 250px;
    z-index: 20;
}


.tiffin2{
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 30px;
    z-index: 20;
}


.mountain2{
    position: absolute;
    width: 500px;
    bottom: -100px;
    left: 300;
    z-index: 18;
}

.nos1{
   left:500px;
}

.mountain3{
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}
.tiffin1{
    position: absolute;
    width: 900px;
    bottom: 70px;
    right: 0;
    z-index: 17;
}
.nos1{
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}


.sky{
    position: absolute;
    width: 100%;
    height:100vh;
  
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  
}

.logo span{
    font-weight: 300;
}
.logon{
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  
}

.logon span{
    font-weight: 300;
}


.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    
}

.big-titlet{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 50%;
    margin-left:5%;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    
    
}
.big-titlen{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    margin-left:10%;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
section .containern{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

section .containern > *{
    margin: 2rem;
}
.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size:3rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    width:900px;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 850px){
    section .containern{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: 1.2rem;
        font-weight:200;
        color:white;
        font-family:'Lato';
    }

    .title{
        font-size: 2rem;
        color:white;
        font-family:'Lato';
        font-weight:200;


    }
}

button{
    border:solid 2px white;
    color:white;
    background-color:black;
    margin-top:20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Poppins';
    transition:0.5s ease-in-out;
}

button:hover{
    opacity:0.5;
}

a{
    color:white;
    text-decoration:none;
    transition:0.5s ease-in-out;
}

a:hover{
    opacity:1;
    color:lightblue;
}

.images img{
    width:100px;
}

.images{
    width:100%;
}
.mountain3n{
    position: absolute;
    width: 500px;
    bottom: 400px;
    right: 0;
    z-index: 17;
}

button{
    padding-left:20px;
    padding-right:20px;
    border-radius:30px;
}

.titlef{
    font-size:1.5rem;
}


.friend1{
    position: absolute;
    bottom: 0px;
    width: 100%;
   
    z-index: 16;
}

.friend3{
    position: absolute;
    width:100%;
    right:0;
    bottom: 150px;
    z-index: 21;
}
.friend2{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    z-index: 22;
}

.friend{
    position: absolute;
    width: 300px;
    bottom: -200px;
    left: 0px;
    z-index: 25;
}

.porto1{
    position: absolute;
    width: 20rem;
    bottom:15rem;
    left: 35rem;
    z-index: 10;
}

.porto2{
    position: absolute;
    width: 20rem;
    bottom:-10rem;
    left: 55rem;
    z-index: 10;
}
body {
    width:100%;
}



      /* IPAD PRO TABLET SIZE*/
      @media screen and (min-width:1025 max-width: 1366px){
      
        .big-title{
            top:20%;
            font-size:5rem;
            line-height:5rem;
        }

        .title{
            font-size:3rem;
            width:750px;
        }

        .nos1{
            left:1%;
            width:100%;
            bottom:65%;
        }
        .porto1{
            left:55%;
            bottom:70%;
            width:40%;
        }

        .tiffin1{
            opacity:0;
        }
        
        .tiffin2{
            left:3%;
            top:40%;
            width:80%;
        }


        .kleodisp{
            opacity:0;
         
        }
        .big-titlen{
            font-size:4rem; 
            line-height:5rem;
            margin-top:20%;
        }

        .big-titlet{
            font-size:4rem;
            line-height:5rem;
        }
        }






    /* IPAD TABLET SIZE*/
    @media screen and (min-width: 768px max-width: 1024px){
      
        .big-title{
            top:10%;
        }

        .title{
            font-size:2.6rem;
            width:500px;
        }

        .nos1{
            left:1%;
            width:100%;
            bottom:65%;
        }
        .porto1{
            left:55%;
            bottom:70%;
            width:40%;
        }

        .tiffin1{
            opacity:0;
        }
        
        .tiffin2{
            left:3%;
            top:40%;
        }

        }

  

/* SURFACE DUO*/
@media screen and (max-width: 720px){
    .big-title{
        font-size:1rem;
    }
}
  

/* IPHONE 6,7,8 */
@media screen and (max-width:414px) {
    .big-title{
        font-size:2rem;
        line-height:2rem;
        top:10%;
    }

    .title{
        width:280px;
    }

    .nos1{
        left:1%;
        width:100%;
        top:-10%;
    }

    .porto1{
        left:40%;
        width:50%;
        top:-25%;
    }
    .tiffin1{
        opacity:0;
    }
    
    .tiffin2{
        left:-10%;
        top:30%;
        width:80%;
    }

    .big-titlet{
     
        top:30%;
        margin-left:5%;
        width:250px;
        font-size:2.5rem;
        line-height:2.2rem;

    }

}




/* MOBILE PIXEL */

@media screen and (max-width: 412px){
    .big-title{
        font-size:1.5rem;
        line-height:2rem;
        margin-top:-75%;
        left:-15%;
     
     
    }
    
    .title{
    width:280px;
    color:white;
    margin-left:-10%;
    }
    
    .nos1{
        left:-5%;
        width:100%;
        bottom:70%;
    }
    
    .big-titlen{
        font-size:2rem; 
        line-height:2.5rem;
        margin-top:20%;
    }
    
    
    .big-titlet{
        font-size:2rem; 
        line-height:2.5rem;
        width:250px;
        text-align:left;
    }
    
    .porto1{
        left:15%;
        bottom:70%;
        width:60%;
    }
    
    .tiffin1{
        opacity:0;
    }
    
    .tiffin2{
        left:-45%;
        top:30%;
        width:100%;
    }
    
    .kleodisp{
        opacity:1;
        width:80%;
        left:-10%;
     
    }
    
    
    }

    
       /* MOBILE LESS THAN 400*/ 
@media screen and (max-width: 375px){
    .big-title{
        top:10%;
        font-size:2rem;
        line-height:2rem;
    }
      
     
 
     .title{
         width:300px;
         color:white;
         }
 
     }